<div class="col-md-10 offset-md-1 mt-5">
  <div class="row">
    <div class="col-md-4 mb-4">
      <%= show_shop_image @shop %>
    </div>

    <div class="col-md-8">
      <h2><%= @shop.name %></h2>
      <ul>
        <li><b>電話番号: </b><%= @shop.phone_number %></li>
        <li><b>住所: </b><%= @shop.address %></li>
        <li><b>ホームページ: </b><%= @shop.homepage %></li>
        <li><b>営業時間: </b><%= @shop.business_hours %></li>
        <li><b>定休日: </b><%= @shop.holiday %></li>
      </ul>
    </div>
  </div>
  <hr>
  <h4>お店の紹介</h4>
  <%= simple_format @shop.description %>
  <%= link_to "編集", edit_shop_path(@shop), class: "btn btn-primary" %>
    <%= button_tag "削除", class: "btn btn-warning", data: { toggle: "modal", target: "#delete-shop" } %>
  <%= link_to "戻る", shops_path, class: "btn btn-secondary" %>
</div>

<div class="modal fade" id="delete-shop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-name" id="exampleModalLabel">お店削除</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= @shop.name %>を削除しますか？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル<button>
        <%= link_to "削除する", shop_path(@shop), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>